@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    /* Custom Colors */
    --color-primary: #FF4500;
    --color-background-light: #E5E7EB;
    --color-background-dark: #111827;
    --color-surface-light: #F3F4F6;
    --color-surface-dark: #1F2937;
    --color-slate-accent: #374151;
    --color-slate-accent-dark: #4B5563;

    /* Custom Fonts */
    --font-display: 'Archivo Black', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    /* Custom Background Image */
    --background-image-noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
}